ol {
  padding-left: 1.25em;
  margin: 0 0 _size(element-margin) 0;
  list-style: decimal;

  li {
    padding-left: 0.25em;
  }
}

ul {
  padding-left: 1.5em;
  margin: 0 0 _size(element-margin) 0;
  list-style: disc;

  li {
    padding-left: 0.25em;
  }
}

dl {
  margin: 0 0 _size(element-margin) 0;

  dt {
    display: block;
    margin: 0 0 (_size(element-margin) * 0.3) 0;
    font-weight: _font(weight-bold);
  }

  dd {
    margin: 0 0 (_size(element-margin) * 0.5) _size(element-margin);
  }
}

ul.actions {
  padding-left: 0;
  list-style: none;
  cursor: default;

  li {
    display: inline-block;
    padding: 0 (_size(element-margin) * 0.5) 0 0;
    vertical-align: middle;

    &:last-child {
      padding-right: 0;
    }
  }

  &.small {
    li {
      padding: 0 (_size(element-margin) * 0.25) 0 0;
    }
  }

  &.vertical {
    li {
      display: block;
      padding: (_size(element-margin) * 0.5) 0 0 0;

      &:first-child {
        padding-top: 0;
      }

      > * {
        margin-bottom: 0;
      }
    }

    &.small {
      li {
        padding: (_size(element-margin) * 0.25) 0 0 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  &.fit {
    display: table;
    width: calc(100% + #{(_size(element-margin) * 0.5)});
    padding: 0;
    margin-left: (_size(element-margin) * -0.5);
    table-layout: fixed;

    li {
      display: table-cell;
      padding: 0 0 0 (_size(element-margin) * 0.5);

      > * {
        margin-bottom: 0;
      }
    }

    &.small {
      width: calc(100% + #{(_size(element-margin) * 0.25)});
      margin-left: (_size(element-margin) * -0.25);

      li {
        padding: 0 0 0 (_size(element-margin) * 0.25);
      }
    }
  }

  @include breakpoint(xsmall) {
    margin: 0 0 _size(element-margin) 0;

    li {
      display: block;
      width: 100%;
      padding: (_size(element-margin) * 0.5) 0 0 0;
      text-align: center;

      &:first-child {
        padding-top: 0;
      }

      > * {
        width: 100%;
        margin: 0 !important;
      }
    }

    &.small {
      li {
        padding: (_size(element-margin) * 0.25) 0 0 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}