/* Type */

body,
input,
select,
textarea {
  font-family: _font(family);
  font-size: 16.5pt;
  font-weight: _font(weight);
  line-height: 1.6;
  color: _palette(fg);

  @include breakpoint(xlarge) {
    font-size: 13pt;
  }

  @include breakpoint(large) {
    font-size: 12pt;
  }

  @include breakpoint(medium) {
    font-size: 12pt;
  }

  @include breakpoint(small) {
    font-size: 12pt;
  }

  @include breakpoint(xsmall) {
    font-size: 12pt;
  }
}

a,
span.as-anchor {
  border-bottom: dotted 1px _palette(fg-light);
  text-decoration: none;
  color: _palette(fg-bold);
  transition: color #{_duration(transition)} ease-in-out, border-bottom-color #{_duration(transition)} ease-in-out;

  &:hover {
    color: _palette(fg-bold);
    border-bottom-color: transparent;
  }

  &.special:not(.button) {
    @include icon;
    display: block;
    border-bottom: 0;
    margin: 0 0 _size(element-margin) 0;
    text-transform: uppercase;
    font-family: _font(family-heading);
    font-size: 0.8em;
    font-weight: _font(weight-heading-bold);
    letter-spacing: _font(kern-heading);

    &::before {
      display: inline-block;
      content: '\f105';
      width: 2em;
      height: 2em;
      border: solid 2px _palette(border);
      border-radius: 100%;
      margin-right: 0.85em;
      text-align: center;
      font-size: 1.25em;
      line-height: 1.65em;
      transition: background-color #{_duration(transition)} ease-in-out;
      text-indent: 0.15em;
      vertical-align: middle;
    }

    &:hover {
      &::before {
        background-color: _palette(border-bg);
      }
    }

    &:active {
      &::before {
        background-color: _palette(border2-bg);
      }
    }
  }
}

strong,
b {
  font-weight: _font(weight-bold);
  color: _palette(fg-bold);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 (_size(element-margin) * 0.5) 0;
  text-transform: uppercase;
  font-family: _font(family-heading);
  font-weight: _font(weight-heading-bold);
  letter-spacing: _font(kern-heading);
  color: _palette(fg-bold);

  a {
    text-decoration: none;
    color: inherit;
  }

  span {
    font-weight: _font(weight-heading);
  }

  &.major {
    padding-bottom: 1em;
    border-bottom: solid 2px _palette(border);
  }
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.7em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.7em;
}

@include breakpoint(small) {
  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
  border-left: solid 4px _palette(border);
  margin: 0 0 _size(element-margin) 0;
  font-style: italic;
}

code {
  padding: 0.25em 0.65em;
  border: solid 2px _palette(border);
  border-radius: _size(border-radius);
  margin: 0 0.25em;
  background: _palette(border-bg);
  font-family: _font(family-fixed);
  font-size: 0.9em;
}

pre {
  margin: 0 0 _size(element-margin) 0;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  -webkit-overflow-scrolling: touch;

  code {
    display: block;
    overflow-x: auto;
    padding: 1em 1.5em;
    line-height: 1.75em;
  }
}

hr {
  border: 0;
  border-bottom: solid 2px _palette(border);
  margin: (_size(element-margin) * 1.25) 0;

  &.major {
    margin: (_size(element-margin) * 2) 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
