form {
  margin: 0 0 _size(element-margin) 0;

  .field {
    margin: 0 0 _size(element-margin) 0;

    label {
      margin-top: _size(element-margin) * -0.75;
    }

    &:first-child {
      label {
        margin-top: 0;
      }
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

label {
  display: block;
  margin: 0 0 (_size(element-margin) * 0.35) 0;
  text-transform: uppercase;
  font-family: _font(family-heading);
  font-size: 0.8em;
  font-weight: _font(weight-heading-bold);
  letter-spacing: _font(kern-heading);
  color: _palette(fg-bold);
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0 1em;
  border: solid 2px _palette(border);
  border-radius: _size(border-radius);
  background: _palette(border-bg);
  outline: 0;
  text-decoration: none;
  color: inherit;
  appearance: none;

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: desaturate(lighten(_palette(accent), 6), 3);
  }
}

.select-wrapper {
  @include icon;
  display: block;
  position: relative;

  &::before {
    display: block;
    content: '\f078';
    position: absolute;
    top: 0;
    right: 0;
    width: _size(element-height);
    height: _size(element-height);
    text-align: center;
    line-height: _size(element-height);
    color: _palette(border);
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }
}

select {
  option {
    background: _palette(bg);
    color: _palette(fg-bold);
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
select {
  height: _size(element-height);
}

textarea {
  padding: 0.75em 1em;
}

input[type='checkbox'],
input[type='radio'] {
  display: block;
  z-index: -1;
  opacity: 0;
  width: 1em;
  margin-right: -2em;
  appearance: none;
  float: left;

  & + label {
    @include icon;
    display: inline-block;
    position: relative;
    padding-right: 0.75em;
    padding-left: (_size(element-height) * 0.6) + 0.75em;
    text-transform: none;
    font-family: _font(family);
    font-size: 1em;
    font-weight: _font(weight);
    letter-spacing: 0;
    color: _palette(fg);
    cursor: pointer;

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: (_size(element-height) * 0.6);
      height: (_size(element-height) * 0.6);
      border: solid 2px _palette(border);
      border-radius: _size(border-radius);
      background: _palette(border-bg);
      text-align: center;
      line-height: (_size(element-height) * 0.575);
    }
  }

  &:checked + label {
    &::before {
      content: '\f00c';
      border-color: _palette(fg-bold);
      background: _palette(fg-bold);
      color: _palette(bg);
    }
  }

  &:focus + label {
    &::before {
      border-color: _palette(accent);
    }
  }
}

input[type='checkbox'] {
  & + label {
    &::before {
      border-radius: _size(border-radius);
    }
  }
}

input[type='radio'] {
  & + label {
    &::before {
      border-radius: 100%;
    }
  }
}

::placeholder {
  opacity: 1;
  color: _palette(fg-light) !important;
}

.polyfill-placeholder {
  opacity: 1;
  color: _palette(fg-light) !important;
}
