.list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.card__title {
  font-size: 1.4rem;
  color: #000;
  text-align: center;
}

.card__description {
  font-size: 1rem;
}

.card__price {
  font-size: 0.9em;
}

@include breakpoint(medium) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(xsmall) {
  .list {
    display: flex;
    flex-direction: column;
  }
}