{
  "plugins": [
    "mirego",
    "prettier",
    "react",
    "jest"
  ],
  "rules": {
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": false
      }
    ],
    "indent": "off",
    "operator-linebreak": [
      0,
      "after"
    ],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "printWidth": 120,
      "bracketSpacing": false
    }]
  },
  "extends": [
    "plugin:mirego/recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Promise": true,
    "graphql": true,
    "process": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "jest/globals": true
  }
}
