.guides-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 _size(element-margin) 0;
}

.article {
  @include padding(1.75em, 1.75em);
  width: calc(50% - #{_size(section-spacing, large) * 0.5});
  border-radius: _size(border-radius);
  margin: (_size(section-spacing, large) * 0.5) _size(section-spacing, large) (_size(section-spacing, large) * 0.5) 0;
  background-color: desaturate(lighten(_palette(bg), 3), 1.5);

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.image-wrapper {
  display: block;
  position: relative;
  width: calc(100% + #{3.5em});
  border-radius: _size(border-radius) _size(border-radius) 0 0;
  margin-top: -1.75em;
  margin-bottom: 1.75em;
  margin-left: -1.75em;

  .image {
    width: 100%;
    border-radius: _size(border-radius) _size(border-radius) 0 0;
  }
}

@include breakpoint(medium) {
  .article {
    width: calc(50% - #{_size(section-spacing, medium) * 0.5});
    margin: (_size(section-spacing, medium) * 0.5) _size(section-spacing, medium) (_size(section-spacing, medium) * 0.5)
      0;
  }
}

@include breakpoint(small) {
  .article {
    @include padding(1.5em, 1.5em);
    width: calc(50% - #{_size(section-spacing, small) * 0.5} - 1px);
    margin: (_size(section-spacing, small) * 0.5) _size(section-spacing, small) (_size(section-spacing, small) * 0.5) 0;
  }

  .image-wrapper {
    .image {
      position: static !important;
      width: calc(100% + #{3em});
      margin-top: -1.5em;
      margin-bottom: 1.5em;
      margin-left: -1.5em;
    }
  }
}

@include breakpoint(xsmall) {
  .guides-wrapper {
    display: block;
  }

  .article {
    width: 100%;
    margin: 0 0 _size(element-margin) 0 !important;
  }
}
