.banner {
  @include padding(4em, 0, (0, 0, _size(wrapper-edges, large) * -0.5, 0));
}

.wrapper {
  width: _size(inner);
  margin: 0 auto;
}

.logo {
  opacity: 1;
  transform: translateY(0);
  margin: 0 0 (_size(element-margin) * 0.65) 0;
  transition: opacity 2s ease, transform 1s ease;
}

.logo__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.25em;
  height: 2.25em;
  border: solid 2px _palette(border);
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 2.25em;
  cursor: default;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.5);
    border-color: _palette(accent);
    cursor: pointer;
  }
}

.title {
  opacity: 1;
  transform: translateX(0);
  padding-bottom: _size(element-margin) * 0.2;
  border-bottom: solid 2px _palette(border);
  margin-bottom: _size(element-margin) * 0.4;
  font-size: 2.25em;
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
  transition-delay: 0.65s;
  filter: blur(0);
}

.description {
  opacity: 1;
  transform: translateX(0);
  font-family: _font(family-heading);
  font-size: 1em;
  font-weight: _font(weight-heading);
  line-height: 2;
  letter-spacing: _font(kern-heading);
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
  transition-delay: 0.8s;
  filter: blur(0);
}

.call-to-action-wrapper {
  display: flex;
  opacity: 1;
  justify-content: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 1s;
}

@include breakpoint(large) {
  .banner {
    @include padding(4em, 0, (0, 0, _size(wrapper-edges, large) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, large) * -1);
    background-color: _palette(bg);
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)),
      url('../../../../assets/images/background-image.jpg');
    background-position: center, center;
    background-size: auto, cover;
  }
}

@include breakpoint(medium) {
  .banner {
    @include padding(4em, 3em, (0, 0, _size(wrapper-edges, medium) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, medium) * -1);
  }

  .wrapper {
    width: 100%;
  }
}

@include breakpoint(small) {
  .banner {
    @include padding(4em, 2em, (0, 0, _size(wrapper-edges, small) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, small) * -1);
  }

  .title {
    font-size: 1.5em;
  }

  .description {
    font-size: 0.8em;
  }
}

:global(.is-loading) {
  .banner {
    opacity: 1;
  }

  .wrapper {
    opacity: 0;
    transform: translateX(-0.5em);
    filter: blur(0.125em);
  }

  .logo {
    opacity: 0;
    transform: translateY(0.5em);
  }

  .title {
    opacity: 0;
    transform: translateX(0.25em);
    filter: blur(2px);
  }

  .description {
    opacity: 0;
    transform: translateX(0.5em);
    filter: blur(2px);
  }

  .call-to-action-wrapper {
    opacity: 0;
    transform: translateX(-0.5em);
    filter: blur(0.125em);
  }
}

@include breakpoint(xxsmall) {
  .banner {
    @include padding(4em, 0.5em, (0, 0, _size(wrapper-edges, small) * 0.5, 0));
  }
}
