.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin: 0 0 0 20px;
  flex-grow: 1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-wrapper--success {
  .alert {
    color: #2e7d32;
  }
}

.form-wrapper--error {
  .alert {
    color: _palette(logo-red);
  }

  .input[type='email'].input {
    border-color: _palette(logo-red);
  }
}

input[type='email'].input, input[type='text'].input {
  width: 100%;
  padding: 0;
  border-width: 0 0 2px;
  border-radius: 0;
  margin: 0 10px 0 0;
  background: transparent;
  transition: 1s border-color ease-out;
}

.button {
  flex-shrink: 0;
}

.icon {
  font-size: 3em;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
}

.title-container {
  padding-left: 30px;
  border-left: 1px solid _palette(accent);
  margin-left: 30px;
  line-height: 1.3;
}

.title {
  margin-bottom: 0;
  text-decoration: inherit;
  text-transform: inherit;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.subtitle {
  margin-bottom: 0;
  text-decoration: inherit;
  text-transform: inherit;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01786em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.alert {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 0.9em;
}

.form-success-icon {
  font-size: 2.3em;
  color: #2e7d32;
}

@include breakpoint(medium) {
  .wrapper {
    flex-direction: column;
    justify-content: left;
    align-items: normal;
    max-width: _size(inner);
  }

  .title-wrapper {
    max-width: none;
  }

  .form-wrapper {
    margin: 30px 0 0;
  }

  input[type='email'].input {
    margin-left: 0;
  }
}
