.wrapper {
  @include wrapper-edges-color(_palette(bg));
  position: relative;
  margin: _size(wrapper-edges, large) 0;
  background-color: _palette(bg);

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: _size(wrapper-edges, large);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &::before {
    top: (_size(wrapper-edges, large) * -1);
    left: 0;
  }

  &::after {
    bottom: (_size(wrapper-edges, large) * -1);
    left: 0;
    transform: scaleY(-1);
  }

  @for $i from 1 through _misc(max-wrapper-styles) {
    $j: 3 * ($i - 1);
    $color: saturate(darken(_palette(bg), $j), $j * 0.5);

    &.wrapper--at-position-#{$i} {
      @include wrapper-edges-color($color);
      background-color: $color;

      @if $i % 2 == 1 {
        &::before {
          transform: scaleX(-1);
        }

        &::after {
          transform: scaleY(-1) scaleX(-1);
        }
      }
    }
  }
}

.image-wrapper {
  -ms-flex: 1; /* stylelint-disable-line property-no-vendor-prefix */
  overflow: hidden;
  width: 22em;
  border-radius: 100%;
  margin: 0 _size(section-spacing, large) _size(element-margin) 0;
}

.inner {
  @include padding(3em, 0);
  width: _size(inner);
  margin: 0 auto;
}

.wrapper--service {
  @include wrapper-edges-color(_palette(accent));
  background-color: _palette(accent);

  .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:nth-child(2n - 1) {
    .inner {
      flex-direction: row-reverse;
      text-align: right;
    }

    .image-wrapper {
      margin: 0 0 _size(element-margin) _size(section-spacing, large);
    }
  }
}

.wrapper--article-list {
  @include wrapper-edges-color(lighten(_palette(bg), 3%));
  background-color: lighten(_palette(bg), 3%);

  &::before {
    transform: scaleX(-1);
  }

  &::after {
    transform: scaleY(-1) scaleX(-1);
  }
}

@include breakpoint(medium) {
  .wrapper {
    margin: _size(wrapper-edges, medium) 0;

    &::before,
    &::after {
      height: _size(wrapper-edges, medium);
    }

    &::before {
      top: (_size(wrapper-edges, medium) * -1);
    }

    &::after {
      bottom: (_size(wrapper-edges, medium) * -1);
      left: 0;
    }

    &:nth-child(2n - 1) {
      .image-wrapper {
        margin: 0 0 _size(element-margin) _size(section-spacing, medium);
      }
    }
  }

  .inner {
    @include padding(3em, 3em);
    width: 100%;
  }

  .image-wrapper {
    width: 32em;
    margin: 0 _size(section-spacing, medium) _size(element-margin) 0;
  }

  .newsletter {
    margin-bottom: 30px;
  }
}

@include breakpoint(small) {
  .wrapper {
    margin: _size(wrapper-edges, small) 0;

    &::before,
    &::after {
      height: _size(wrapper-edges, small);
    }

    &::before {
      top: (_size(wrapper-edges, small) * -1);
    }

    &::after {
      bottom: (_size(wrapper-edges, small) * -1);
      left: 0;
    }

    &:nth-child(2n - 1) {
      .image-wrapper {
        margin: 0 0 _size(element-margin) _size(section-spacing, small);
      }
    }
  }

  .inner {
    @include padding(2em, 2em);
  }
}

@include breakpoint(xxsmall) {
  .inner {
    @include padding(2em, 0.5em);
  }
}
