.wrapper {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
  transition-delay: 1s;
  filter: blur(0);
}

.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.grid-item-title {
  text-align: center;
}

.title {
  margin-bottom: 2em;
}

.grid-item-description {
  text-align: justify;
  font-size: 1em;
}

.grid-item-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  font-size: 3em;
}

@media screen and (min-width: 980px) {
  :global(.is-loading) {
    .wrapper {
      opacity: 0;
      transform: translateY(1em);
      filter: blur(0.125em);
    }
  }
}

.call-to-action-wrapper {
  display: flex;
  justify-content: center;
}

@include breakpoint(xsmall) {
  .grid {
    display: block;
    margin-bottom: 1em;
  }

  .grid-item-icon-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.9em;
  }

  .grid-item-icon {
    margin-bottom: 0;
    font-size: 1.6em;
  }

  .title {
    margin-left: 10px;
    font-size: 1em;
  }

  .grid-item-description {
    font-size: 0.9em;
  }

  .grid-item-title {
    margin-bottom: 0;
    margin-left: 10px;
  }
}
