.card-wrapper {
  padding-top: _size(header-height, large);
  margin-top: calc(-#{_size(header-height, large)} - 180px);
}

.card {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  padding: 25px;
}

:global(.field) label.label {
  margin-top: 0;
  color: _palette(bg);
}

form .field {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  list-style: none;
}

input.input,
select.input {
  border-color: #d3d3d3;
  color: _palette(bg);

  &::placeholder {
    color: _palette(bg-light) !important;
  }

  &.error {
    border-color: #f5c6cb;
  }
}

.radio-button-label {
  color: _palette(bg);

  &::before {
    border-color: #d3d3d3;
    background: _palette(border-bg);
  }
}

.radio-button-label--checked {
  &::before {
    border-color: _palette(accent);
    background: _palette(bg);
    color: _palette(fg-bold);
  }
}

.radio-button-group {
  padding: 10px;
}

.radio-button-group--invalid {
  border: 1px solid #f5c6cb;
}

.form-submitted-paragraph {
  margin-bottom: 1em;
}

.centralized-button-wrapper {
  display: flex;
  justify-content: center;
}

.title-wrapper {
  justify-content: center;
}

.title {
  color: _palette(bg);
}

.subtitle {
  color: _palette(bg);
  text-transform: none;
}

.fields {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;

  &.fields--2-by-2 {
    grid-template-columns: 1fr 1fr;
  }

}

.error-message {
  margin-top: 5px;
  font-size: 0.9em;
  color: #721c24;

  a {
    color: #721c24;
    border-bottom-color: #721c24;

    &:hover,
    &:active {
      color: lighten(#721c24, 20%);
      border-bottom-color: lighten(#721c24, 20%);
    }
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.edit-button {
  display: none;
  height: auto;
  padding: 0;
  margin: 0 0 1.2em 0.5em;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 0.7em;
  color: _palette(accent);
}

:global(.fade-enter) {
  opacity: 0;
  transform: scale(0.9);
}

:global(.fade-enter-active) {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}

.submit-step p {
  margin-bottom: 1em;
}

.assistance-package ul {
  margin-top: -1em !important;
  margin-bottom: 1em;
}

@include breakpoint(small) {
  .card-wrapper {
    padding-top: _size(header-height, small);
    margin-top: calc(-#{_size(header-height, small)} - 180px);
  }
}

@include breakpoint(xsmall) {
  .fields {
    display: block;
  }

  form .field {
    margin: 0 0 2em;
  }

  ul.actions li.actions__item {
    padding: 0;
  }
}
