:global(.field) label.label {
  margin-top: 0;
  color: _palette(bg);
}

form .field {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  list-style: none;
}

input.input,
select.input {
  border-color: #d3d3d3;
  color: _palette(bg);

  &::placeholder {
    color: _palette(bg-light) !important;
  }

  &.error {
    border-color: #f5c6cb;
  }
}

.title-wrapper {
  justify-content: center;
}

.title {
  color: _palette(bg);
}

.description {
  text-align: center;
}

.fields {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;

  & {
    .fields--2-by-2 {
      grid-template-columns: 1fr 1fr;
    }
  }

}

.error-message {
  margin-top: 5px;
  font-size: 0.9em;
  color: #721c24;
}

.centralized-button-wrapper {
  display: flex;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.edit-button {
  display: none;
  height: auto;
  padding: 0;
  margin: 0 0 1.2em 0.5em;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 0.7em;
  color: _palette(accent);
}

.recap-mode {
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: 2em;

  &:last-child {
    border-bottom: 0;
  }

  .edit-button {
    display: block;
  }

  .actions,
  .description {
    display: none;
  }

  .title-wrapper {
    justify-content: flex-start;
  }

  .title {
    text-align: left;
  }
}

:global(.fade-enter) {
  opacity: 0;
  transform: scale(0.9);
}

:global(.fade-enter-active) {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}

@include breakpoint(xsmall) {
  .fields {
    display: block;
  }

  form .field {
    margin: 0 0 2em;
  }
}
