.wrapper {
  display: flex;
  justify-content: center;
}

:global(.field) label.label {
  margin-top: 0;
  color: _palette(bg);
}

form .field {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

input.input,
select.input {
  border-color: #d3d3d3;
}

.title {
  text-align: center;
  color: _palette(bg);
}

.description {
  text-align: center;
}

.fields {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
}

@include breakpoint(xsmall) {
  .fields {
    display: block;
  }

  form .field {
    margin: 0 0 2em;
  }
}
