.about {
    &__title {
        color: #4bb4d4;
        font-weight: normal;
        font-size: 22px;
    }

    &__description {
        font-size: 14px;
        line-height: 0;
    }

    &__btn {
        font-size: 12px;
        height: 45px;
        font-weight: 500;
    }

    &__values_title {
        color: #0490DF;
        font-size: 19px;
    }
}

.ellipse3 {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: -10;
}

.ellipse4 {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: -10;
}