.team-member-list__item {
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 10px;
  clear: both;
}

.team-member-photo-outer {
  width: 100%;
}

.team-member-info__header {
  margin-bottom: 1em;
}

.team-member-info-name {
  margin-bottom: 0;
  font-size: 1.8em;
}

.team-member-info-title {
  font-weight: bold;
}
