.travel_countries {
    width: 100%;
    position: relative;
}

.travel_countries>img {
    height: 100%;
    width: 100%;
}

.travel_countries_inner {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.travel_countries_inner>img {
    height: 100%;
    width: 100%;
    opacity: 90%;
}

.travel_countries_content {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    top: 4rem;
    bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}