.scholarship_inner {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    &__overlay {
        height: 100%;
        width: 100%;
        opacity: 90%;
    }
}

.scholarship {
        width: 100%;
        position: relative;
    &__overlay {
            height: 20rem;
            width: 100%;
    }
    &__content {
        position: relative;
        z-index: 10;
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
        bottom: 15rem;
        padding-left: 2rem;
        padding-right: 2rem;

        @media only screen and (min-width: 415px){
        bottom: 17rem;
        }
    }
    &__bourse_card {
        @media only screen and (max-width: 350px) {
                margin-top: -0.8rem;
            }
        @media only screen and (max-width: 415px) {
                margin-top: -1.5rem;
            }
    }
}