.scholarship_inner {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    &__overlay {
        height: 100%;
        width: 100%;
        opacity: 90%;
    }
}

.scholarship {
        width: 100%;
        position: relative;
    &__overlay {
            height: 27rem;
            width: 100%;
            @media only screen and (min-width: 992px) {
                    height: 40rem;
                }
    }
    &__content {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        text-align: center;
        align-items: center;
        top: 0.3rem;
        bottom: 2rem;
        
    }
    &__bourse_card {
        @media only screen and (max-width: 350px) {
                margin-top: -0.8rem;
            }
        @media only screen and (max-width: 415px) {
                margin-top: -1.5rem;
            }
    }
}