---
slug: verification
title: Vérification du dossier
price: 100
excerpt: Nous allons analyser votre dossier de demande de visa pour vous assurer que vous n’avez rien manqué et que vous avez mis toutes les chances de votre coté pour l’obtention du visa.
rank: 3
assistanceFormServiceChoiceLabel: Je veux que vous analysiez ma demande pour m'indiquer comment l’améliorer et augmenter mes chances d’obtention du visa.
assistanceFormConfirmationTitle: 🎉 Demande d’assistance reçue 🎉
assistanceFormConfirmationFirstParagraph: Votre demande d’analyses et recommandations concernant vos documents de demande de visa a été reçue par notre équipe. Un membre de l’équipe vous contactera dans un délai de trois jours ouvrables pour vous expliquer comment procéder au paiement de frais de vérification.
assistanceFormConfirmationSecondParagraph: Vous pouvez déjà envoyer vos documents à l’adresse courriel assistance@rdcetudes.com en attendant d’effectuer votre paiement. Nous vous remercions pour la confiance que vous nous accordez.
---