.header {
  margin-bottom: 1.45rem;
  background-color: rebeccapurple;
}

.header__inner-wrapper {
  max-width: 960px;
  padding: 1.45em 1.0875rem;
  margin: 0 auto;
}

.header__link {
  text-decoration: none;
  color: white;
}
