.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  button {
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
    line-height: 0;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
