.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.button {
  display: flex !important;
  align-items: center;
  height: auto;
  padding: 0.5em;
  line-height: normal;
  flex-basis: 300px;

  &.fa-facebook {
    background-color: #3c5a98;

    &:hover {
      background-color: #2e4473;
    }
  }

  &.fa-whatsapp {
    background-color: #25d366;

    &:hover {
      background-color: #2e7d32;
    }
  }

  .icon {
    margin-right: 0.5em;
    font-size: 2em;
  }
}

@media (max-width: 540px) {
  .button {
    padding: 1em;

    &.fa-facebook {
      padding: 1em 1.25em;
    }

    .icon {
      margin-right: 0;
      font-size: 2.5em;
    }
  }

  .button-label {
    display: none;
  }
}
