.scoped h2 {
        font-weight: lighter;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

.scoped a {
        color: #1085c9;
        font-weight: 300;
    }

.scoped ul {
        padding-left: 30px;
        list-style-type: disc;
    }

.scoped ol {
        padding-left: 10px;
        list-style-type: decimal;
    }
