.list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.list--second {
  margin-top: 15px;
}

.list__item {
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 40px rgba(#0e1e25, 0.16);
  color: rgba(#000, 0.54);
}

.card__title {
  margin-bottom: 0.2em;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.card__subtitle {
  margin-bottom: 0;
  color: rgba(#000, 0.87);
}

.card__description {
  padding: 0 1em 8px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01786em;
  color: rgba(#000, 0.54);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.card__header {
  padding: 1em;
  color: #000;
}

.card__body {
  @include ripple-effect;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: rgba(#000, 0.54);
  }
}

.card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 52px;
  padding: 8px;
}

.card__actions-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__button {
  @include ripple-effect(#118aec);
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 64px;
  height: 36px;
  padding: 0 8px;
  border: 0;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.08929em;
  color: #118aec;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  vertical-align: middle;

  &:hover {
    color: #118aec;
  }
}

.see-more-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.see-more-button {
  padding: 0 2.25em;
}

.newsletter {
  padding: 30px 10px;
  border: 1px solid _palette(border);
  margin: 50px 0;
}

.image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  border-radius: _size(border-radius) _size(border-radius) 0 0;

  .image {
    width: 100%;
    border-radius: _size(border-radius) _size(border-radius) 0 0;
  }
}

@include breakpoint(medium) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(small) {
  .image-wrapper {
    .image {
      position: static !important;
    }
  }
}

@include breakpoint(xsmall) {
  .list {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .card__body {
    height: auto;
  }

  .list__item {
    margin-bottom: 1.5em;
  }
}
