.banner {
  @include padding(7.5em, 0, (3.5em, 0, _size(wrapper-edges, large) * -0.5, 0));
}

.wrapper {
  width: _size(inner);
  margin: 0 auto;
}

.title {
  padding-bottom: _size(element-margin) * 0.2;
  border-bottom: solid 2px _palette(border);
  margin-bottom: _size(element-margin) * 0.4;
  font-size: 2em;
}

.description {
  font-family: _font(family-heading);
  font-size: 1em;
  font-weight: _font(weight-heading);
  line-height: 2;
  letter-spacing: _font(kern-heading);
}

.social {
  text-align: right;
}

@include breakpoint(large) {
  .banner {
    @include padding(5em, 0, (4em, 0, _size(wrapper-edges, large) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, large) * -1);
    background-color: _palette(bg);
    background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)),
      url('../../../../assets/images/background-image.jpg');
    background-position: center, 0 30%;
    background-size: auto, cover;
  }
}

@include breakpoint(medium) {
  .banner {
    @include padding(7em, 3em, (4em, 0, _size(wrapper-edges, medium) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, medium) * -1);
    background-position: center, 0 0;
  }

  .wrapper {
    width: 100%;
  }
}

@include breakpoint(small) {
  .banner {
    @include padding(3.75em, 2em, (2.75em, 0, _size(wrapper-edges, small) * 0.5, 0));
    margin-bottom: (_size(wrapper-edges, small) * -1);
    background-size: auto, 125%;
  }

  .title {
    font-size: 1.25em;
  }

  .description {
    font-size: 0.8em;
  }
}
